<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>RequestGetMethodHttpServlet</servlet-name>
        <servlet-class>test.RequestGetMethodHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestPostMethodHttpServlet</servlet-name>
        <servlet-class>test.RequestPostMethodHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestHeaderContentTypeHttpServlet</servlet-name>
        <servlet-class>test.RequestHeaderContentTypeHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestHeaderCustomHttpServlet</servlet-name>
        <servlet-class>test.RequestHeaderCustomHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestBodyHttpServlet</servlet-name>
        <servlet-class>test.RequestBodyHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseStatusCodeHttpServlet</servlet-name>
        <servlet-class>test.ResponseStatusCodeHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseHeaderContentTypeHttpServlet</servlet-name>
        <servlet-class>test.ResponseHeaderContentTypeHttpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseBodyHttpServlet</servlet-name>
        <servlet-class>test.ResponseBodyHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestGetMethodHttpServlet</servlet-name>
        <url-pattern>/request-get-method</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestPostMethodHttpServlet</servlet-name>
        <url-pattern>/request-post-method</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestHeaderContentTypeHttpServlet</servlet-name>
        <url-pattern>/request-header-content-type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestHeaderCustomHttpServlet</servlet-name>
        <url-pattern>/request-header-custom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestBodyHttpServlet</servlet-name>
        <url-pattern>/request-body</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseStatusCodeHttpServlet</servlet-name>
        <url-pattern>/response-status-code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseHeaderContentTypeHttpServlet</servlet-name>
        <url-pattern>/response-header-content-type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseBodyHttpServlet</servlet-name>
        <url-pattern>/response-body</url-pattern>
    </servlet-mapping>
</web-app>